body {
    
    background-image: linear-gradient(rgb(132, 130, 232),rgb(193, 192, 248));
    
    
}

body footer {
    margin-top: 100px;
    color:blue;
    text-align: center;
}

.productos{
    margin: 5px;
    max-height: 200px; 
    max-width: 200px;
    border-radius: 5%;
      
}

p.productos{
    margin-bottom: 30px;
}


input {
    margin: 2px;
}

textarea {
    margin: 2px;
}

fieldset{   
    width: 30%;/*para que la caja del fieldset no abarque toda la pagina*/
}



header h1{
    font-family: Gabarito;
    color: white;
    font-weight: bold;
    
}

li a, .nav-item, .nav-link{
    color: white;
}

li {
    color: white;
}

.navbar{
    background-image: url(../images/banner.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
p span { color: white;
         font-weight: bold;
         font-family: Gabarito;
}

p {
    font-family: Gabarito;
    margin: 20px;
}

.imagen_border {
    border-radius: 5%;
    margin: 10px;
}



@media(width<370px){
    section{
        font-size: 0.8rem;
        
    }
}