/*Imports*/
/**/
/*Colores*/
/**/
/**/
/**/
/**/
/**/
body {
  background-image: linear-gradient(rgb(132, 130, 232), rgb(193, 192, 248));
}
body footer {
  margin-top: 100px;
  color: blue;
  text-align: center;
}

/*Mixins*/
.nav-link {
  background-color: rgb(67, 41, 240);
  border-radius: 5px;
  background-color: gradient;
  border: 2px solid black;
}
.nav-link:hover {
  background-color: rgb(67, 41, 237);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.icono-barra {
  width: 40px;
  padding: 2px;
}

input {
  margin: 2px;
}

textarea {
  margin: 2px;
}

fieldset {
  width: 30%; /*para que la caja del fieldset no abarque toda la pagina*/
}

header h1 {
  font-family: Gabarito;
  color: white;
  font-weight: bold;
}

.nav-item, .nav-link {
  color: rgb(255, 255, 255);
}

li {
  color: rgb(255, 255, 255);
}
li a {
  color: rgb(255, 255, 255);
}

.navbar {
  background-image: url(../images/banner.jpg);
  background-position-y: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  height: 100px;
}

section {
  font-family: Gabarito;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 120%;
}
section span {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: Gabarito;
}

.productos {
  margin-bottom: 30px;
  margin: 5px;
  font-family: Gabarito;
  border-radius: 5%;
  font-size: 130%;
}

.carac {
  font-size: 100%;
  margin-bottom: 50px;
  margin-left: 10px;
  max-width: 330px;
  font-family: Gabarito;
}

.texto_monitor {
  margin-bottom: 100px;
}

.bienvenida {
  margin: 20px;
}

.imagen_border {
  border-radius: 5%;
  margin: 10px;
  width: 80%;
}

h5 {
  margin-left: 30px;
  font-family: Gabarito;
}

h1 {
  margin-left: 20px;
  font-family: Gabarito;
}

.comentarios, h6 {
  color: rgb(255, 255, 255);
  font-style: italic;
}

/* ---------------media queries----------- */
@media (width < 780px) {
  .border {
    width: 100%;
  }
}
@media (width < 370px) {
  section {
    font-size: 0.8rem;
  }
  .productos {
    max-height: 200px;
    max-width: 200px;
  }
}
@media (width > 767px) {
  .nav-item {
    padding: 15px;
  }
}
@media (width > 1080px) {
  .nav-item {
    padding: 30px;
  }
  h1 {
    margin-left: 20px;
    margin-right: 40px;
    font-family: Gabarito;
  }
}
@media (width < 900px) {
  .carousel {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-collapse {
    background-color: rgba(84, 17, 192, 0.721);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .nav-link {
    width: 25%;
    padding-left: 5px;
  }
}
@media (max-width: 350px) {
  .navbar-collapse {
    background-color: rgba(84, 17, 192, 0.721);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .nav-link {
    width: 50%;
    padding-left: 5px;
  }
  .historia {
    font-size: 70%;
  }
  .imagen_border {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .historia {
    font-size: 70%;
  }
  form {
    font-size: 70%;
  }
}

/*# sourceMappingURL=styles.css.map */
