/*Imports*/
@import "./variables";



body {
     background-image: linear-gradient(rgb(132, 130, 232),rgb(193, 192, 248));
    footer {
        margin-top: 100px;
        color:$white;
        text-align: center;
        font-family: $font-gabarito;
        background-color: rgb(27, 24, 24);
        height:280px;
        padding-top: 20px;

        li{
            list-style-type: none;
            padding-top: 5px;
            }
        img{
            width: 30px;
            padding: 2px;
            }
            .logo{
                text-align: start;
            }
            a{
                text-decoration: none;
            }
    }   
}
/*Mixins*/
@mixin ancho-alto($width, $height) {
    height: $height;
    width: $width;
 }

 @mixin top-left($top,$left){
    top:$top;
    left:$left;
}
.nav-link{
    background-color: $bg-violet-dark;
    border-radius: 5px;
    background-color: gradient;
    border: 2px solid black;
    &:hover{
        background-color: $bg-violet-light;
        color: $white;
        border: 2px solid $white;
    }
}

.icono-barra{
    width: 40px;
    padding: 2px; 
}

input {
    margin: 2px;
}

textarea {
    margin: 2px;
}

fieldset{   
    width: 30%;/*para que la caja del fieldset no abarque toda la pagina*/
}

header h1{
    font-family: $font-gabarito;
    color: $white;
    font-weight: bold;
}

.nav-item, .nav-link{
    color: $white;
}
li {
    color:$white;
    a {
        color:$white;
    }
}

.navbar{
    background-image: url(../images/banner.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    height: 100px;
    
    
}

section {
    font-family: $font-gabarito;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 120%;
        span { color:$white;
            font-weight: bold;
            font-family: $font-gabarito;
        }
    }

.productos{
    margin-bottom: 30px;
    margin: 5px;
    font-family: $font-gabarito;
    border-radius: 5%;
    font-size: 130%;
    transition: 0.5s all ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}
 
.carac {
    font-size: 100%;
    margin-bottom: 50px;
    margin-left: 10px;
    max-width: 330px;
    font-family: $font-gabarito;
}

.texto_monitor{
    margin-bottom: 100px;
}

.historia{
    font-size: 130%;
    margin: 40px;
    line-height: 2.5rem;
    margin-left: 10%;
    margin-right:10%;
}
.bienvenida{
    margin: 20px;
}

.imagen_border {
    border-radius: 5%;
    margin: 10px;
    width: 80%;
    margin-top: 50px;
    
}

.img_nosotros{
    border-radius: 5%;
    margin: 10px;
    margin-top: 50px;
    width: 65%;
}

.nosotros{
    text-align: center;
    
}

h5{
    margin-left: 30px;
    font-family: $font-gabarito;
}

h1{
    margin-left: 20px;
    font-family: $font-gabarito;
}

.comentarios, h6{
    color:$white;
    font-style: italic;
    font-size: 120%;
}

h4{
    margin-top: 5px;
    margin-left: 10px;
}

h6{
    margin-bottom: 10px;
    font-size: 140%;
}

.border_form{
    border: 1px solid white;
    padding: 10px;
    width: 400px;
}



/* ---------------media queries----------- */
@media(width<768px){
    
    .imagen_border{
        width: 60%;
        margin-top: 20px;
      }
}

@media(width<370px){
    section{
        font-size: 0.8rem;
    }
    .productos{
        max-height: 200px; 
        max-width: 200px;
            }
}

@media(width>767px){
    .nav-item{
        padding: 15px;  
    }   
}

@media(width>1080px){
    .nav-item{
        padding: 30px;  
    }
    h1{
        margin-left: 20px;
        margin-right: 40px;
        font-family: $font-gabarito;
    }
}

@media(width<900px){
    .carousel{
        display: none;
    }
}
   
@media(max-width:991px){.navbar-collapse{
    background-color: rgba(84, 17, 192, 0.721);
    position: fixed;    
    @include top-left(0,0);
    @include ancho-alto(100%,100%);     
  } 
  .nav-link{
    width: 25%;
    padding-left: 5px;
  }
  .historia{
    font-size: 120%;

  }
  .imagen_border{
    width: 80%;
  }
  .img_nosotros{
    width: 80%;
}

}
 
@media(max-width:350px){.navbar-collapse{
    background-color: rgba(84, 17, 192, 0.721);
    position: fixed;    
    @include top-left(0,0);
    @include ancho-alto(100%,100%);     
  } 
  .nav-link{
    width: 50%;
    padding-left: 5px;
  }
  .historia{
    font-size: 80%;
    line-height: 0.5rem;
  }
  .imagen_border{
    width: 60%;
  }
}

@media(max-width:500px){
    .historia{
        font-size: 85%;
        line-height: 2rem;
    }
    .imagen_border{
        width: 60%;
    }
    form{
        font-size: 70%;
    }
    .border_form{
        width: 300px;
    }
}

@media(max-width:767px){
        .imagen_border{
          width: 70%;
        }
}

@media(width>1380px){
.navbar{
    background-size: 100%;
   
}

}   


@media(width>1200px){
.border_form{
    width: 600px;
}
fieldset{
    font-size: 150%;
}
legend{
    font-size: 150%;
    margin-bottom: 30px;
}
}

@media(width>1580px){
    
    .historia{
        font-size: 160%;
        line-height: 3rem;
    }
    }
    

    
     